/* * {
  border : 1px solid red;
} */

body {
  font-family: Avenir, sans-serif;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: 100vh;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

header {
  text-align: center;
  font-size: 120%;
  background-color: white;
  padding: 0.1em;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  justify-content: center;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33%;
}

#X-upload, #O-upload {
  display: none;
}

#X-upload_label, #O-upload_label {
  padding: 5px;
  border: 1px solid black;
  border-radius: 0.2em;
  background-color: #eee;
}

#X-upload_label:hover, #O-upload_label:hover {
  background-color: #ddd;
  transition: 0.1s;
  cursor: pointer;
}

h1 {
  text-transform: uppercase;
}

#info {
  padding: 0 0 10px 0;
}

#score {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin: 0 auto;
  padding-top: 10px;
  width: 170px;
}

#X-score, #score-text, #O-score {
  margin: 0 auto;
}

#X-button, #O-button {
  font-size: 150%;
  padding: 5px 30px 5px 30px;
  margin: 0 10px 0 10px;
  cursor: pointer;
}

#X-button.unclickable, #O-button.unclickable {
  cursor: not-allowed;
}

#reset-button {
  font-size: 80%;
  margin: 10px;
  visibility: hidden;
}

#reset-button.active {
  font-size: 80%;
  margin: 10px;
  visibility: visible;
}

main {
  background-color: white;
  margin: 0 auto;
  width: 100%;
  height: 600px;
  justify-content: center;
  text-align: center;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;

}

.board {
  text-align: center;
  margin: 0 auto;
  width: 450px;
  height: 450px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  justify-content: center;
  align-content: center;
}

.cell {
  margin: 0 auto;
  border: 2px solid black;
  position: relative;
  top: 0;
  left: 0;
}

.o-image {
  width: 99%;
  position: relative;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}

.x-image {
  width: 99%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}

#o1-1.clicked, #o1-2.clicked, #o1-3.clicked,
#o2-1.clicked, #o2-2.clicked, #o2-3.clicked,
#o3-1.clicked, #o3-2.clicked, #o3-3.clicked {
  transition: 0.2s;
  opacity: 1;
  visibility: visible;
}

#x1-1.clicked, #x1-2.clicked, #x1-3.clicked,
#x2-1.clicked, #x2-2.clicked, #x2-3.clicked,
#x3-1.clicked, #x3-2.clicked, #x3-3.clicked {
  transition: 0.2s;
  opacity: 1;
  visibility: visible;
}

#X-button.active {
  transition: 0.2s;
  background-color: crimson;
  color: white;
}

#O-button.active {
  transition: 0.2s;
  background-color: royalblue;
  color: white;
}

.hstrike {
  height: 10px;
  width: 400px;
  overflow: auto;
  position: absolute;
  left: 22px;
  top: 70px;
  z-index: 2;
  display: none;
}

#h1.active, #h2.active, #h3.active,
#v1.active, #v2.active, #v3.active,
#d1.active, #d2.active  {
  display: inline;
}

.Xwin {
  background-color: red;
}

.Owin {
  background-color: blue;
}

.vstrike {
  height: 400px;
  width: 10px;
  overflow: auto;
  position: absolute;
  left: 70px;
  top: 22px;
  z-index: 2;
  display: none;
}

#d1 {
  transform: rotate(-45deg);
  height: 510px;
  width: 10px;
  overflow: auto;
  display: block;
  position: absolute;
  top: -180px;
  left: 70px;
  z-index: 2;
  display: none;
}

#d2 {
  transform: rotate(45deg);
  height: 510px;
  width: 10px;
  overflow: auto;
  display: inline;
  position: absolute;
  top: -180px;
  left: 70px;
  z-index: 2;
  display: none;
}
